<html>
<head>
    <title>About Section</title>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body >
<div style="background-color:white;padding:15px;">

<a href="/" style="padding:10px;font-size:25px;">Home</a>
<a href="about" style="padding:10px;font-size:25px;">About</a>
<a href="contacts" style="padding:10px;font-size:25px;">Contact Us</a>
<a href="register" style="float:right;padding:10px;font-size:25px;">Registration</a>
<a href="login" style="float:right;padding:10px;font-size:25px;">Login</a>

</div>
<hr style="height: 1px;background-color:grey;">

<div style="width: 100%;min-height: 100vh;background-color: white;">
	<div style="width: 80%;	display: block;	margin: auto;padding-top: 70px;">
		<div style="float: right;width: 50%;padding: 20px;">
			<div class="title">
				<h1>About</h1>
				
			</div>
			<div class="content">
				
				<p>The E-learning system is a system that enables students to learn
computer programming languages through online.It also allows the students to view
the various courses. It is developed because of the covid pandemic. Therefore, the
project aimed at solving such problems by designing a web-based system that will
enable the students to learn the new languages.
Using E-learning system makes things easier for you, as it helps plan the training activities
calendar which you can share with your learners, trainer, and co-administrators. By doing
this you can maintain and improve your training process. It also helps in getting trainer
reports, which is a time consuming process when done manually.
This is a fact that each individual learns in a unique manner. If you apply different learning
approaches, they increase your success rate. E-learning systems help in communication and
balance the whole system.
In this digital world the working system has totally changed. Today every employee is
engaged with a laptop or desktop, and with the help of E-learning system you make the
training future ready.
It becomes easy to offer centralized source of learning to multiple users and the training,
performance, and content can be accessed from the same source.
Another benefit of using an E-learning system is that you can enhance performance through
tracking and reporting tools. New users’ progress can be tracked, records can be reviewed,
and users can register for more than one course. Learning can be done through web based
training.
Management can access the records and calculate which area needs improvement. The
learners also become aware of the areas that need improvement and additional efforts, as the
weak performance areas, can be identified easily.</p>
				<div class="button">
					<a href="">Read More</a>
					
				</div>
			</div>
			<div class="social">
				<a href="" style="padding:10px;font-size:25px;cursor:pointer;" ><i class="fab fa-facebook-f"></i></a>
				<a href="" style="padding:10px;font-size:25px;cursor:pointer;" ><i class="fab fa-twitter"></i></a>
				<a href="" style="padding:10px;font-size:25px;cursor:pointer;" ><i class="fab fa-instagram"></i></a>
			</div>
		</div>
		<div style="float: right;width: 40%;">
			<img style="width: 100%;height: auto;" src="https://images.pexels.com/photos/4260477/pexels-photo-4260477.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
			
		</div>
	</div>

</div>
</body>
</html>

