<html>
	<head>
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	</head>

	<body style="background-image: url(https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80)">

		<div style="background-color:white;padding:15px;">

			<a href="/" style="padding:10px;font-size:25px;">Home</a>
			<a href="about" style="padding:10px;font-size:25px;">About</a>
			<a href="contacts" style="padding:10px;font-size:25px;">Contact Us</a>
			<a href="registration" style="float:right;padding:10px;font-size:25px;">Registration</a>
			<a href="login" style="float:right;padding:10px;font-size:25px;">Login</a>
		</div>
        <hr style="height: 1px;background-color:grey;">

		<div id="contact_div" style="padding: 50px;margin-top:10%;background-color:white;box-shadow: 10px 10px 10px 10px grey;" >
			<table style="width: 100%; text-align: center; box-shadow:15px 15px 15px 15px grey;" >
				<tr>
					<td>
						<h3> Address </h3>
					</td>
					<td>
						<h3> Dhapdhara,Hooghly,Ankrisrirampur,712401 </h3>
					</td>
				</tr>

				<tr>
					<td>
						<h3> Phone </h3>
					</td>
					<td>
						<h3> 9647742633 </h3>
					</td>
				</tr>

				<tr>
					<td>
						<h3> Email </h3>
					</td>
					<td>
						<h3> cseGroup14@gmail.com </h3>
					</td>
				</tr>

			</table>
		</div>
		<div style="padding: 50px;margin-top:10px;background-color:white;">
			<table style="width: 100%; text-align: center; box-shadow:15px 15px 15px 15px grey;" >
				<tr>
					<td>
						<a href="https://www.facebook.com/sruti.manna.5851/" style="padding:10px;font-size:25px;cursor:pointer;" target="_blank" ><i class="fab fa-facebook-f"></i></a>
					</td>
					<td>
						<a href="https://twitter.com/" style="padding:10px;font-size:25px;cursor:pointer;" target="_blank" ><i class="fab fa-twitter"></i></a>
					</td>
					<td>
						<a href="https://www.instagram.com/_suchismita_bera_/" style="padding:10px;font-size:25px;cursor:pointer;" target="_blank" ><i class="fab fa-instagram"></i></a>
					</td>
					
				</tr>
			</table>
		</div>

	</body>
</html>